* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

div {
    display: flex;
    justify-content: space-between;
}

.mobile {
    display: none;
}

.desktop {
    margin: 0;
    width: 100%;
}

td {
    text-align: center;
    background-color: rgb(118, 95, 80);
    width: 65px;
    height: 65px;
}

.noCheckerHere {
    background-color: rgb(240, 230, 220);
}

.red-turn-text {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
}

.black-turn-text {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
}

.red-checker {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: rgb(203, 44, 32);
    border: 1px solid white;
    border-radius: 50px;
}

.black-checker {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: rgb(36, 26, 24);
    border: 1px solid white;
    border-radius: 50px;
}

.king.red-checker {
    background-color: rgb(227, 49, 186);
}

.king.black-checker {
    background-color: rgb(101, 218, 87);
}

p {
    display: inline-block;
}

#divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

span {
    display: inline-block;
}

@media screen and (max-width: 560px) {
    .red-checker {
        height: 4.5vw;
        width: 4.5vw;
    }

    .black-checker {
        height: 4.5vw;
        width: 4.5vw;
    }

    td {
        width: 12vw;
        height: 12vw;
    }

    .red-turn-text {
        font-size: 40px;
    }
    
    .black-turn-text {
        font-size: 40px;
    }

    table {
        margin: 0;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .red-turn-text {
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);    
    }
}

@media screen and (max-width: 380px) {
    .red-checker {
        height: 3vw;
        width: 3vw;
    }

    .black-checker {
        height: 3vw;
        width: 3vw;
    }
}

@media screen and (max-width: 345px) {
    .red-checker {
        height: 2.5vw;
        width: 2.5vw;
    }

    .black-checker {
        height: 2.5vw;
        width: 2.5vw;
    }
}

@media screen and (max-width: 300px) {
    .red-checker {
        height: 1.5vw;
        width: 1.5vw;
    }

    .black-checker {
        height: 1.5vw;
        width: 1.5vw;
    }

    .red-turn-text {
        font-size: 35px;
    }
    
    .black-turn-text {
        font-size: 35px;
    }
}