* {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(217 213 199);
  }
  
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  td {
    background-color: rgba(90,69,57,0.25);
    width: 65px;
      height: 65px;
    text-align: center;
  }
  
  .noPieceHere {
    background-color: rgba(255,255,255,0.25);
    width: 65px;
      height: 65px;
    text-align: center;
  }
  
  .redChecker {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: rgb(220 180 133);
    border: 1px solid white;
    border-radius: 50pxl;
  }
  
  .blackChecker {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: rgb(53 41 40);
    border: 1px solid white;
    border-radius: 50pxl;
  }
  
  .king.redChecker {
    background-color: rgb(234 51 193);
  }
  
  .king.blackChecker {
    background-color: rgb(110 236 116);
  }